
/* accordion start */
.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 10px 5px;
  }
  
  .p-accordion-content {
    padding: 2px 10px;
  }
  
  .sidebar .p-component {
    font-size: .680em;
  }
  
  .sidebar .p-checkbox-box {
    height: 17px;
    width: 17px;
    border-radius: 4px;
  }

  .sidebar .p-radiobutton-box {
    height: 17px;
    width: 17px;
  }

  
  
  /* accordion end */
  
  /*job type*/
  .jobtype {
    padding: 2px 10px;
  }

