.dropdown-toggle::after {
    content: unset !important;
}

.nav-link.active {
    font-weight: 700;
    background: white;
    color: black !important;
}

.nav-link {
    font-size: 18px !important;
}

/* .nav-item {
    padding: 8px 0px;
} */

.nav-item :hover {
    background: white;
    color: black !important;
}