.profile-image {
    width: 100%;
    border-radius: 50%;
}

.main-profile {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card-body{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.horizontal-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }