.profile-image {
    max-width: 250px;
    width: 100%;
    border-radius: 50%;
}

.horizontal-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  /* .rating svg {
    height: 12px;
    width: 12px;
  } */

 .shortlist {
    position: absolute;
    top: 47px;
    right: 0;
}
.p-tabview-nav {
  padding: 0 !important;
}